# Virtual environment
venv/
.env

# Ignore IDE/editor files
.vscode/
*.swp

# Byte-compiled / cached files
__pycache__/
*.pyc

# Ignore migration files
*/migrations/*.py
*/migrations/*.pyc

practice.md


